.app {
  height: 100%;
  padding: 1rem;
}

.app-label {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.app-input {
  width: 70%;
  height: 50px;
  border: solid 1px #ddd;
  border-radius: 3px;
  padding: 0.3rem 1rem;
  margin-bottom: 2rem;

  font-size: 1.2rem;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}
